{% extends 'layouts/base.twig' %}

{% block title %}All Products{% endblock %}


{% block main_content %}
	<main class="container">
        {% for products in productItem %}
            <h3 ><a href="/shop/products/{{ products.slug }}"> {{ products.item }} </a></h3>
            {% for variant in products.Variants %}
				{% for image in variant.Images %}
					<img  src="/public/images/{{ image.id }}{{ image.extension }}">
				{% endfor %}		
		{% endfor %}
            ${{ products.price }}
                <button>Add to cart</button>
                <button>Checkout Now</button>
        {% endfor %}
    </main>
{% endblock %}
