<form method="POST" action="/products/{% if productItem.id %}{{ productItem.id }}{% endif %}">
    <a href="/products">View Products</a>
    {% if productItem.id %}
        <input type="hidden" name="id" value="{{ productItem.id }}" />
    {% endif %}
    <div>
        <label for="name">Name:</label>
        <input type="text" name="item" id="item" value="{{ productItem.item }}" />
        </br>
        <label for="name">Slug:</label>
        <input type="text" name="slug" id="slug" value="{{ productItem.slug }}" />
        </br>
        <label for="name">Description:</label>
        <input type="text" name="description" id="description" value="{{ productItem.description }}" />
        </br>
        <label for="name">Price:</label>
        <input type="number" name="price" id="price" value="{{ productItem.price }}" />
        </br>
        <label for="name">Published:</label>
        <input type="checkbox" name="is_published" id="is_published" value="{{ productItem.is_published }}" />
    </div>
    <div>
        <input type="submit" value="Submit" />
    </div>
</form>