{% extends 'layouts/base.twig' %}

{% block main_content %}
    <h1>About {{ productItem.item}}</h1>
    <ul>
        <li>
            <label> Id: </label> {{ productItem.id }}
        </li>
        <li>
            <label> Name: </label> {{ productItem.item }}
        </li>
        <li>
            <label> Slug:</label> {{ productExtra.slug }}
        </li>
        <li>
            <label> Description:</label> {{ productExtra.description }}
        </li>
        <li>
            <label> Price: $</label> {{ productItem.price }}
        </li>
        <li>
            <label> Published:</label> {{ productExtra.is_published }}
        </li>
    </ul>
    <p>
        <a href="/products/{{ productItem.id }}/edit">Edit</a> |
        <a href="/products/{{ productItem.id }}/delete">Delete</a> |
        <a href="/products">View Products</a>
    </p>

{% endblock %}